<h1>Stores</h1>
<ul>
  <% @stores.each do |stores| %>
    <li>
      <%= "Name: #{stores.name}" %>
    </li>
    <li>
      <%= "Profit: #{stores.profit}" %>
    </li>
    <li>
      <%= "Location: #{stores.location}" %>
    </li>
    <br />
  <% end %>
</ul>
